<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Oracle.DataAccess.Client" type="System.Configuration.NameValueSectionHandler" />
    <section name="MySql.Data.MySqlClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MySql.Data.MySqlClient>
    <add key="SERVEUR" value="localhost" />
    <add key="USER" value="root" />
    <add key="PWD" value="" />
    <add key="DB" value="gsb_frais" />
  </MySql.Data.MySqlClient>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MySql.Data.MySqlClient" providerName="MySql.Data.MySqlClient" connectionString="Data Source =(DESCRIPTION =(ADDRESS =(PROTOCOL = TCP)(HOST = {0})(PORT = {1}))          (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = {2})));User Id = {3}; Password = {4};" />
  </connectionStrings>
  <appSettings>
    <add key="PROVIDER" value="MySql.Data.MySqlClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="ODP.NET, Managed Driver" invariant="MySql.Data.MySqlClient" description="Mysql Data Provider for .NET, Managed Driver" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.13.0, Culture=neutral" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>